.exclusive-section {
  [class^="ti-"], [class*=" ti-"] {
    font-size: 18px;
    font-weight: bold; // #00ab54
  }

  .form-control {
    border: 2px solid rgba(0, 171, 84, .6);
    height: 41px;
    border-radius: 0;
  }
}

.email-newsletter-subscription-container {
  background-color: #00aeef;
  color: #ffffff;
  margin-top: 10px;

  .email-newsletter-headline {
    h3 {
      color: #ffffff;
      font-size: 20px;
      margin: 0;
      padding: 20px 0;
    }
  }

  .email-newsletter-form {
    .col-1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col-10 {
      border: 2px dashed rgba(0, 0, 0, .15);
      padding: 15px 15px 0 15px;
      margin-bottom: 30px;

      .form-control {
        height: 60px;
        font-size: 22px;
      }

      .btn {
        background-color: #4dc65f;
        border-color: #4dc65f;
        color: #ebf1f3;
        font-size: 22px;
        font-weight: 600;
        padding: 1.32rem 12px;

        &:hover, &:focus {
          background-color: #4dc635;
          border-color: #4dc635;
        }
      }
    }

    .col-3 {
      background: url(../img/letter.svg) no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

@media (min-width: 120px) and (max-width: 479px) {
  .email-newsletter-subscription-container {
    .email-newsletter-headline {
      h3 {
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 7px 10px;
      }
    }

    .email-newsletter-form {
      .col-1 {
        margin-bottom: 5px;

        img {
          max-height: 60px;
        }
      }

      .col-10 {
        margin: 10px 0 10px 10px;
        width: 95%;

        .form-control {
          height: 50px;
          font-size: 16px;
        }

        .input-group {
          display: block;
        }

        .input-group-btn {
          text-align: center;
        }

        .btn {
          background-color: #4dc65f;
          border-color: #4dc65f;
          color: #ebf1f3;
          font-size: 16px;
          font-weight: 600;
          margin-top: 10px;
          padding: 1.32rem 12px;

          &:hover, &:focus {
            background-color: #4dc635;
            border-color: #4dc635;
          }
        }
      }

      .col-3 {
        background: url(../img/letter.svg) no-repeat center center;
        background-size: 80px 65px;
        height: 65px;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .email-newsletter-subscription-container {
    .email-newsletter-headline {
      h3 {
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 10px;
      }
    }

    .email-newsletter-form {
      .col-1 {
        margin-bottom: 0;

        img {
          max-height: 70px;
        }
      }

      .col-10 {
        margin: 10px 0 15px 10px;
        width: 97%;

        .form-control {
          height: 50px;
          font-size: 16px;
        }

        .btn {
          background-color: #4dc65f;
          border-color: #4dc65f;
          color: #ebf1f3;
          font-size: 16px;
          font-weight: 600;
          padding: 1.32rem 12px;

          &:hover, &:focus {
            background-color: #4dc635;
            border-color: #4dc635;
          }
        }
      }

      .col-3 {
        background: url(../img/letter.svg) no-repeat center center;
        background-size: 100px 85px;
        height: 85px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .email-newsletter-subscription-container {
    .email-newsletter-headline {
      h3 {
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 10px;
      }
    }

    .email-newsletter-form {
      .col-1 {
        margin-bottom: 0;

        img {
          max-height: 70px;
        }
      }

      .col-10 {
        margin: 10px 0 15px 10px;
        width: 97%;

        .form-control {
          height: 50px;
          font-size: 16px;
        }

        .btn {
          background-color: #4dc65f;
          border-color: #4dc65f;
          color: #ebf1f3;
          font-size: 16px;
          font-weight: 600;
          padding: 1.32rem 12px;

          &:hover, &:focus {
            background-color: #4dc635;
            border-color: #4dc635;
          }
        }
      }

      .col-3 {
        background: url(../img/letter.svg) no-repeat center center;
        background-size: 100px 85px;
        height: 85px;
      }
    }
  }
}

// Index Page New Design
.iconsection {
  p, ul, ol {
    font-size: 0.8em;
  }
  .col-xs-12, .col-sm-6, .col-xs-10, .col-xs-11 {
    padding-right: 7px;
    padding-left: 7px;
  }
  .col-xs-2 {
    img {
      width: 60%;
      margin-top: 10px;
    }
    padding-right: 0;
  }
  .col-xs-1 {
    padding-right: 0;
  }
}

@media (min-width: 1070px) {
  .iconsection {
    .col-xs-2, .col-xs-1 {
      margin-right: -20px;
    }
  }
}

@media (max-width: 570px) {
  .iconsection .col-xs-2 img {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 230px) {
  .iconsection {
    .col-xs-2, .col-xs-1 {
      display: none;
    }
    .col-xs-10 {
      width: 100%;
    }
  }
}