@media (min-width: 120px) and (max-width: 479px) {
  // online-casino-bonus-codes
  .online-casino-bonus-codes {
    background-color: #f4f6f7;

    .index-page-bonus-codes-headline {
      font-size: 22px;
      font-weight: bold;
      margin-top: 15px !important;
    }

    .index-page-bonus-codes-footer-title {
      font-size: 16px;

      a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bonus-codes-col-2 {
        margin: 10px 0;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        margin: 10px 0;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Get Exclusive Bonus Codes
  .get-exclusive-bonus-codes-new-card {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 10px 15px 0 15px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

    .exclusive-new-player-offer {
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 36px;
      font-family: helvetica,arial,sans-serif;
    }

    .casino-bonus-codes {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      font-family: helvetica,arial,sans-serif;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bonus-codes-col-2 {
        margin: 10px 0;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        margin: 12px 0;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  // online-casino-bonus-codes
  .online-casino-bonus-codes {
    background-color: #f4f6f7;

    .index-page-bonus-codes-headline {
      font-size: 22px;
      font-weight: bold;
      margin-top: 15px !important;
    }

    .index-page-bonus-codes-footer-title {
      font-size: 16px;

      a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: #2e4053;
          font-weight: bold;
          font-size: 16px;

          &:hover, &:focus {
            color: #00aeef;
          }
        }
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 50%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 50%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        width: 50%;
        margin: 10px 0;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 45%;
            transform: translate(-43%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Get Exclusive Bonus Codes
  .get-exclusive-bonus-codes-new-card {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 10px 15px 0 15px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

    .exclusive-new-player-offer {
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 36px;
      font-family: helvetica,arial,sans-serif;
    }

    .casino-bonus-codes {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      font-family: helvetica,arial,sans-serif;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 50%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 50%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        margin: 12px 0;
        width: 50%;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 45%;
            transform: translate(-43%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;
        width: 50%;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  // online-casino-bonus-codes
  .online-casino-bonus-codes {
    background-color: #f4f6f7;

    .index-page-bonus-codes-headline {
      font-size: 22px;
      font-weight: bold;
      margin-top: 15px !important;
    }

    .index-page-bonus-codes-footer-title {
      font-size: 16px;

      a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 0;

      .bonus-codes-col-1 {
        width: 33.33333333%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: #2e4053;
          font-weight: bold;
          font-size: 16px;

          &:hover, &:focus {
            color: #00aeef;
          }
        }
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        width: 50%;
        margin: 10px 0 0;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Get Exclusive Bonus Codes
  .get-exclusive-bonus-codes-new-card {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 10px 15px 0 15px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

    .exclusive-new-player-offer {
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 36px;
      font-family: helvetica,arial,sans-serif;
    }

    .casino-bonus-codes {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      font-family: helvetica,arial,sans-serif;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33333333%;
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        margin: 12px 0 0;
        width: 50%;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;
        width: 50%;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  // online-casino-bonus-codes
  .online-casino-bonus-codes {
    background-color: #f4f6f7;

    .index-page-bonus-codes-headline {
      font-size: 22px;
      font-weight: bold;
      margin-top: 15px !important;
    }

    .index-page-bonus-codes-footer-title {
      font-size: 16px;

      a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 0;

      .bonus-codes-col-1 {
        width: 33.33333333%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: #2e4053;
          font-weight: bold;
          font-size: 16px;

          &:hover, &:focus {
            color: #00aeef;
          }
        }
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        width: 50%;
        margin: 10px 0 0;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Get Exclusive Bonus Codes
  .get-exclusive-bonus-codes-new-card {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 10px 15px 0 15px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

    .exclusive-new-player-offer {
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 36px;
      font-family: helvetica,arial,sans-serif;
    }

    .casino-bonus-codes {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      font-family: helvetica,arial,sans-serif;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      padding: 10px 0;

      .bonus-codes-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33333333%;
      }

      .bonus-codes-col-2 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        margin: 10px 0;
        width: 33.33333333%;

        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        margin: 12px 0 0;
        width: 50%;

        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;
        width: 50%;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  // online-casino-bonus-codes
  .online-casino-bonus-codes {
    background-color: #f4f6f7;

    .index-page-bonus-codes-headline {
      font-size: 22px;
      font-weight: bold;
      margin-top: 15px;
    }

    .index-page-bonus-codes-footer-title {
      font-size: 16px;

      a {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .bonus-codes-col-1 {
      }

      .bonus-codes-col-2 {
        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 18%;
          }
        }
      }

      .bonus-codes-col-5 {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Get Exclusive Bonus Codes
  .get-exclusive-bonus-codes-new-card {
    background-color: limegreen;
    border: 2px solid limegreen;
    padding: 10px 15px 0 15px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

    .exclusive-new-player-offer {
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: 600;
      font-size: 36px;
      font-family: helvetica,arial,sans-serif;
    }

    .casino-bonus-codes {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      font-family: helvetica,arial,sans-serif;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .online-casino-bonus-codes-page {
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .bonus-codes-col-1 {
      }

      .bonus-codes-col-2 {
        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-3 {
        .dark-gray-title {
          font-size: 14px;
          color: darkgray;
        }

        .green-bonus-amount {
          font-size: 28px;
          font-weight: bold;
          font-family: 'Oswald', sans-serif;
          color: limegreen;
        }
      }

      .bonus-codes-col-4 {
        .use-code-new {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          background-color: #ffdb58;
          border-radius: 2px;
          padding: 5px 10px 0 10px;
          font-weight: bold;
          border: 1px dashed rgba(46, 64, 83, 1);
          border-top: none;
          margin-top: 1px;
          position: relative;

          .top-signup-offer-text {
            font-size: 10px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: rgba(46, 64, 83, .75);
            position: absolute;
            top: -8px;
            left: 22%;
          }
        }
      }

      .bonus-codes-col-5 {
        .btn {
          white-space: normal;
        }

        .btn-primary {
          font-family: 'Oswald', sans-serif;
          border-radius: 5px;
          background-color: #ec028d;
          border: 1px solid #ec028d;

          &:hover, &:focus {
            background-color: #fa25a4;
            border: 1px solid #fa25a4;
          }
        }
      }
    }
  }

  // Online Casino Sidebar Scroll
  #sidebar-scroll {
    background-color: #ffffff;

    #sidebar-scroll-affix {
      background-color: #ffffff;
      width: 263px;
    }

    .affix {
      max-width: 263px;
      top: 120px;
      width: 100%;
      z-index: 5554 !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .box {
    height: auto !important;
  }
}

// iPhone 6
@media (width: 667px) {
  .online-casino-bonus-codes {

  }
}

// iPhone 7
@media (width: 750px) {
  .online-casino-bonus-codes {

  }
}