@media (min-width: 120px) and (max-width: 479px) {
  .index-page-best-online-casinos {
    background-color: #f4f6f7;

    .index-page-best-online-casino-card {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        margin-bottom: 15px;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .visit-site {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .index-page-best-online-casino-col-2 {
        margin-bottom: 15px;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;

        ul {
          margin: 0;
          padding: 10px 15px;
          list-style: none;

          li {
            text-align: center;
          }

          li:before {
            content: "\2714";
            margin-left: -1em;
            margin-right: .100em;
            color: lightblue;
          }
        }
      }

      .index-page-best-online-casino-col-4 {
        .bonus-code-amount-green {
          font-weight: 600;
          font-size: 34px;
          color: limegreen;
        }

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 50%;
              transform: translate(-50%, 0%);
            }
          }
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 15px auto !important;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
        }

        .img-responsive {
          display: inline !important;
        }
      }

      .index-page-best-online-casino-col-5 {
        .show-casino-anchored-name {
          margin-top: 15px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }

    .index-page-best-online-casino-card-header-2 {
      display: none;
    }

    .index-page-best-online-casino-card2 {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .show-casino-anchored-name {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }
      }

      .index-page-best-online-casino-col-2 {
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;

        .bonus-code-amount-green {
          font-weight: bold;
          font-size: 54px;
          color: limegreen;
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 0 auto !important;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
          width: 50%;
        }

        .img-responsive {
          display: inline !important;
          margin-bottom: 15px;
        }
      }

      .index-page-best-online-casino-col-4 {
        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 30%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        margin-top: 15px;

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .index-page-best-online-casinos {
    background-color: #f4f6f7;

    .index-page-best-online-casino-card {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        margin-bottom: 15px;
        width: 50%;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .visit-site {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .index-page-best-online-casino-col-2 {
        margin-bottom: 15px;
        width: 50%;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 14px;
        margin-bottom: 10px;
        width: 50%;
        text-align: center;

        ul {
          margin: 0;
          padding: 10px 15px;
          list-style: none;

          li {
            text-align: center;
          }

          li:before {
            content: "\2714";
            margin-left: -1em;
            margin-right: .100em;
            color: lightblue;
          }
        }
      }

      .index-page-best-online-casino-col-4 {
        margin-bottom: 10px;
        width: 50%;

        .bonus-code-amount-green {
          font-weight: 600;
          font-size: 34px;
          color: limegreen;
        }

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 50%;
              transform: translate(-50%, 0%);
            }
          }
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 15px auto !important;
        width: 50%;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
          width: 50%;
        }

        .img-responsive {
          display: inline !important;
          margin-bottom: 15px;
        }
      }

      .index-page-best-online-casino-col-5 {
        width: 50%;

        .show-casino-anchored-name {
          //margin-top: 15px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }

    .index-page-best-online-casino-card2 {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        width: 50%;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .show-casino-anchored-name {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }
      }

      .index-page-best-online-casino-col-2 {
        width: 50%;
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: center;
        width: 50%;

        .bonus-code-amount-green {
          font-weight: bold;
          font-size: 54px;
          color: limegreen;
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 15px auto !important;
        width: 50%;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
          width: 100%;
        }

        .img-responsive {
          display: inline !important;
          margin-bottom: 15px;
        }
      }

      .index-page-best-online-casino-col-4 {
        width: 50%;

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 25%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        width: 50%;
        margin-top: 15px;

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .index-page-best-online-casinos {
    background-color: #f4f6f7;

    .index-page-best-online-casino-card {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        margin-bottom: 15px;
        width: 33.33333333%;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .visit-site {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .index-page-best-online-casino-col-2 {
        margin-bottom: 15px;
        width: 33.33333333%;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
        width: 33.33333333%;

        ul {
          margin: 0;
          padding: 10px 15px;
          list-style: none;

          li {
            text-align: left;
          }

          li:before {
            content: "\2714";
            margin-left: -1em;
            margin-right: .100em;
            color: lightblue;
          }
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 15px auto !important;
        width: 33.33333333%;
        float: left;
        clear: both;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
          width: 100%;
        }

        .img-responsive {
          display: inline !important;
          margin-bottom: 15px;
        }
      }

      .index-page-best-online-casino-col-4 {
        margin-bottom: 10px;
        width: 33.33333333%;

        .bonus-code-amount-green {
          font-weight: 600;
          font-size: 34px;
          color: limegreen;
        }

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 50%;
              transform: translate(-50%, 0%);
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        width: 33.33333333%;

        .show-casino-anchored-name {
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }

    .index-page-best-online-casino-card-header-2 {
      margin-bottom: 10px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 5px 0;
      background-color: #00aeef;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;

      .index-page-best-online-casino-col-1 {
        width: 30%;
      }

      .index-page-best-online-casino-col-2, .index-page-best-online-casino-col-3, .index-page-best-online-casino-col-4, .index-page-best-online-casino-col-5 {
        width: 17.5%;
        text-align: center;
      }
    }

    .index-page-best-online-casino-card2 {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        width: 33.33333333%;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .show-casino-anchored-name {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }
      }

      .index-page-best-online-casino-col-2 {
        width: 33.33333333%;
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: center;
        width: 33.33333333%;

        .bonus-code-amount-green {
          font-weight: bold;
          font-size: 54px;
          color: limegreen;
        }
      }

      .app-download-badge {
        display: none;
      }

      .index-page-best-online-casino-col-4 {
        width: 33.33333333%;
        margin-top: 15px;

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 22%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        width: 33.33333333%;
        margin-top: 15px;

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .index-page-best-online-casinos {
    background-color: #f4f6f7;

    .index-page-best-online-casino-card {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .visit-site {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .index-page-best-online-casino-col-2 {
      }

      .index-page-best-online-casino-col-3 {
        font-size: 14px;
        text-align: center;

        ul {
          margin: 0;
          padding: 10px 15px;
          list-style: none;

          li {
            text-align: left;
          }

          li:before {
            content: "\2714";
            margin-left: -1em;
            margin-right: .100em;
            color: lightblue;
          }
        }
      }

      .app-download-badge {
        text-align: center !important;
        margin: 0 auto 15px auto !important;
        width: 33.33333333%;

        .col-xs-6 {
          text-align: center !important;
          margin: 0 auto !important;
          width: 100%;
        }

        .img-responsive {
          display: inline !important;
          margin-bottom: 15px;
        }
      }

      .index-page-best-online-casino-col-4 {
        .bonus-code-amount-green {
          font-weight: 600;
          font-size: 34px;
          color: limegreen;
        }

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 50%;
              transform: translate(-50%, 0%);
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        .show-casino-anchored-name {
          margin-top: 15px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }

    .index-page-best-online-casino-card-header-2 {
      margin-bottom: 10px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 5px 0;
      background-color: #00aeef;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;

      .index-page-best-online-casino-col-1 {
        width: 30%;
      }

      .index-page-best-online-casino-col-2, .index-page-best-online-casino-col-3, .index-page-best-online-casino-col-4, .index-page-best-online-casino-col-5 {
        width: 17.5%;
        text-align: center;
      }
    }

    .index-page-best-online-casino-card2 {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);

      .index-page-best-online-casino-col-1 {
        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .show-casino-anchored-name {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }
      }

      .index-page-best-online-casino-col-2 {
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: center;

        .bonus-code-amount-green {
          font-weight: bold;
          font-size: 54px;
          color: limegreen;
        }
      }

      .app-download-badge {
        display: none;
      }

      .index-page-best-online-casino-col-4 {
        margin-top: 15px;

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 27%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        margin-top: 15px;

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .index-page-best-online-casinos {
    background-color: #f4f6f7;

    .index-page-best-online-casino-card-header {
      margin-bottom: 10px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 5px 0;
      background-color: #00aeef;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;

      .index-page-best-online-casino-col-3 {
        text-align: center;
      }
    }

    .index-page-best-online-casino-card {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;

      .index-page-best-online-casino-col-1 {
        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .visit-site {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .index-page-best-online-casino-col-2 {
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          margin: 0;
          padding: 10px 15px;
          list-style: none;

          li {
            text-align: left;
          }

          li:before {
            content: "\2714";
            margin-left: -1em;
            margin-right: .100em;
            color: lightblue;
          }
        }
      }

      .app-download-badge {
        display: none;
      }

      .index-page-best-online-casino-col-4 {
        .bonus-code-amount-green {
          font-weight: 600;
          font-size: 34px;
          color: limegreen;
        }

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 19%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        .show-casino-anchored-name {
          margin-top: 15px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }

    .index-page-best-online-casino-card-header-2 {
      margin-bottom: 10px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 5px 0;
      background-color: #00aeef;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 16px;

      .index-page-best-online-casino-col-1 {
        width: 30%;
      }

      .index-page-best-online-casino-col-2, .index-page-best-online-casino-col-3, .index-page-best-online-casino-col-4, .index-page-best-online-casino-col-5 {
        width: 17.5%;
        text-align: center;
      }
    }

    .index-page-best-online-casino-card2 {
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 0;
      background-color: #ffffff;
      -webkit-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      -moz-box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      box-shadow: 1px 1px 4px rgba(46, 64, 83, .3);
      display: flex;
      align-items: center;
      justify-content: center;

      .index-page-best-online-casino-col-1 {
        width: 30%;

        .rating-badge {
          display: block;
          position: absolute;
          left: -12px;
          top: -8px;
          width: 37px;
          height: 49px;
          font-size: 16px;
          line-height: 35px;
          text-align: center;
          font-family: 'Oswald', sans-serif;
          color: #ffffff;
          background: url("../img/rating-badge.png") no-repeat;
        }

        .show-casino-anchored-name {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            font-size: 110%;
            font-weight: 600;
            color: #00aeef;

            &:hover, &:focus {
              color: #444444;
              text-decoration: none;
            }
          }
        }
      }

      .index-page-best-online-casino-col-2 {
        width: 17.5%;
        vertical-align: middle;
      }

      .index-page-best-online-casino-col-3 {
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17.5%;

        .bonus-code-amount-green {
          font-weight: bold;
          font-size: 54px;
          color: limegreen;
        }
      }

      .app-download-badge {
        display: none;
      }

      .index-page-best-online-casino-col-4 {
        width: 17.5%;

        .use-code-section {
          margin-top: 15px;

          .use-code-new {
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            background-color: #ffdb58;
            border-radius: 2px;
            padding: 5px 10px 0 10px;
            font-weight: bold;
            border: 1px dashed rgba(46, 64, 83, 1);
            border-top: none;
            margin-top: 1px;
            position: relative;

            .top-signup-offer-text {
              font-size: 10px;
              font-family: 'Oswald', sans-serif;
              font-weight: bold;
              color: rgba(46, 64, 83, .75);
              position: absolute;
              top: -8px;
              left: 19%;
            }
          }
        }
      }

      .index-page-best-online-casino-col-5 {
        width: 17.5%;

        .play-now-button {
          .btn-primary {
            border-radius: 5px;
            background-color: #ec028d;
            border: 1px solid #ec028d;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 600;

            &:hover, &:focus {
              background-color: #fa25a4;
              border: 1px solid #fa25a4;
            }
          }
        }
      }
    }
  }
}

@import "new-single-operator-design";